:root {
  --accent: #F59256;
  --mainBackground: "#FDF7F2";
  --secondaryBackground: "#FFFFFF";
  --mainText: "#111111";
  --searchText: "#535353";
  --navText: "#181C27";
  --newsText: "#111321";
  --inputText: "rgba(17; 17; 17; 0.6)";
  --black: "#000000";
  --link: "#3091EB";

  --mainBorder: "2px solid #F59256";
  --authborder: "1px solid rgba(245; 146; 86; 0.5)";

  --brRadius40: "40px";
  --brRadius20: "20px";

  --mainFont: "Manrope";
  --secondaryFont: "Inter";
  --logoFont: "Poppins";

  --fs12: "12px";
  --fs14: "14px";
  --fs16: "16px";
  --fs18: "18px";
  --fs20: "20px";
  --fs24: "24px";
  --fs28: "28px";
  --fs48: "48px";
  --fs68: "68px";

  --fw400: "400";
  --fw500: "500";
  --fw700: "700";

  --transition: "250ms cubic-bezier(0.57; 0.21; 0.69; 1.25)";
}
