@import-normalize;
/* bring in normalize.css styles */
@import './styles/variables.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@400;500&family=Poppins:wght@400;700&display=swap");

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
	color: var(--main-text-color);
	background-color: #FDF7F2;
	font-weight: 500;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	border: none;
	background-color: transparent;
	font-family: inherit;
	cursor: pointer;
	font-weight: inherit;
}

table .noOverflow {
	white-space: normal;
	overflow: visible;
}

textarea {
	padding: 12px 20px 12px 14px;
	height: max-content;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(19 / 14);
	color: rgba(27, 27, 27, 0.6);
	background-color: #FDF7F2;
	border: 1px solid rgba(245, 146, 86, 0.5);
	border-radius: 20px;
	outline: none;
	transition: border-color 300ms linear;
	resize: none;
}

textarea:focus {
	border-color: #F59256;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--accent);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}